html { /* From https://github.com/Famous/core/blob/master/famous.css */
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

body { /* From https://github.com/Famous/core/blob/master/famous.css */
    width: 100%;
    background-image:url('img/squared_metal.png');
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    -webkit-perspective: 0;
    perspective: none;
    overflow: hidden;
}

a, p, h3, h6 {
  color: #000;
  background: transparent;
}

h5 {
  color: #fff;
  padding-top: 35px;
}

button {
  color: #fff;
  background: transparent;
  outline: 1px solid rgba(48,103,145,.75);
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(48,103,145,.5);
}

button:active {
  color: #000000;
  background-color: rgba(48,103,145,.75);
}

.map-legend .swatch {
  width:20px;
  height:20px;
  float:left;
  margin-right:10px;
}

.map-legend ul {
  list-style-type: none;
  -webkit-padding-start: 5px;
  -moz-padding-start: 5px;
  padding-start: 5px;
}

.map-div {
  position: absolute;
  background-color: rgba(0,0,0,.75);
  border: 10px solid rgba(255,255,255,.75);
  border-radius: 6px;
  width: 800px;
  height: 540px;
}

.map-div .map-title {
  position: absolute;
  top: 0px;
  left: 10px;
  right: 0px;
  font-size: 30px;
  color: rgba(255,255,255,0.75);
}

.map-div .map-caption {
  position: absolute;
  top: 490px;
  left: 10px;
  right: 0px;
  font-size: 40px;
  color: rgba(255,255,255,0.75);
}

.map-div .map-rollover {
  position: absolute;
  top: 500px;
  left: 500px;
  right: 0px;
  font-size: 25px;
  color: rgba(255,255,255,0.75);
}

.map-div .map-svg {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
}

path:hover {
  opacity: .6;
}

path {
  fill: tomato;
  stroke: black;
  stroke-width: 1px;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;  
}

.leaflet-map-pane {
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}

#loading {
  width: 100px;
  height: 100px;
  background: url(img/loading.gif) no-repeat 5px 3px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#intro {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}

#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

@media (max-width: 767px) {
  #icons {
    position:absolute;
    width:200px;
    height:50px;
    bottom:50px;
    right:25%;
    left:50%;
    margin-left:-80px;
  }
}

@media (min-width: 768px) {
  #icons {
    position: absolute;
    bottom: 20px;
    left: 0px;
  }
}